html, body {
    font-family: Manrope, Roboto;

}


.wrapper {
    /* min-height: 100%; */

    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}

.main__service {
    margin-bottom: 138px;
}

.main__follow {}

.main__brand {
    padding-top: 130px;
    margin-bottom: 130px
}

.main__blog {
    margin-bottom: 136px;
}

.btn {
    display: inline-block;
    white-space: nowrap;

    align-items: center;
    transition: all .4s;
}

.btn:hover {
    transform: scale(1.2);
}

.button {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    transition: all .4s;
    color: #fff;
    background-color: #ff6433;
    border-radius: 12px;
    padding: 16px 40px;
}

.heading {
    color: #1e1b1b;

}

.heading__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    margin-bottom: 8px;

}

.heading__title {
    font-weight: 800;
    font-size: 58px;
    line-height: 131%;
    letter-spacing: -0.03em;
}

.heading--text-center {
    text-align: center;
}

.button:hover {
    transform: scale(1.2);
}

/* *************************************************** */

.header {
    min-height: 937px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0 11px 0;
    /* margin-bottom: 90px; */
}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;

}

.header__nav-item {
    margin-left: 40px;


}

.header__nav-item:first-child {
    margin-left: 0;
}

.header__nav-link {
    white-space: nowrap;
    font-weight: 600;
    line-height: 1.75;
    color: #1e1b1b;
    transition: all .4s;
}

.header__nav-link:hover {
    color: #ff6433;


}

.header__line {
    margin: 6px 32px;
}


.header__top-btn {
    display: flex;
}

.header__call-btn svg {
    margin: 8px 14px 6px 0;
    /* border-radius: 50%; */
}



.header__call-title {
    font-weight: 500;
    line-height: 150%;
    opacity: 0.7;
    color: #1e1b1b;
}

.header__call-link {
    white-space: nowrap;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #1e1b1b;
    transition: all .4s;

}

.header__call-link:hover {
    color: #ff6433;
}

/* ******************************************** */

.header__body-inner {}

.header__body-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1e1b1b;
}


.header__content {
    margin-top: 81px;
    margin-right: 30px;
}

.header__title {
    font-weight: 800;
    font-size: 64px;
    line-height: 131%;
    letter-spacing: -0.03em;
    max-width: 624px;
    margin-bottom: 32px;
}

.header__content-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 49px;
}

.header__content-btn {
    margin-right: 49px;
}

.header__play {
    display: flex;
    align-items: center;
    transition: all .4s;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
}

.header__play svg {
    margin-right: 8px;
    transition: all .4s;

}

.header__play svg:hover {
    transform: scale(1.2);

}

.header__content-link {
    padding-left: 43px;
    position: relative;
}

.header__content-link::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    background: url(../images/pages1/clock-Icon.svg) no-repeat;
    width: 30px;
    height: 30px;

}

.header__link-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #939191;
    ;
}

.header__content-item {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    transition: all .4s;
}

.header__content-item:hover {
    color: #ff6433;

}

.header__body-image {
    position: relative;
}

.header__body-quick {
    position: absolute;
    top: 166px;
    right: 353px;

    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    border-radius: 59px;
    min-width: 293px;
    max-height: 114px;

    background: linear-gradient(174deg, #fff 0%, #fff 100%);
    box-shadow: 0 0px 0px 12px rgba(225, 225, 225, 0.43);
}

.header__body-quick img {
    margin: 15px 14px 17px 14px;
}

.header__img {
    margin-top: 85px;
}

.rating {
    position: absolute;
    top: 550px;
    left: 310px;
    display: flex;
    align-items: center;
    border-radius: 59px;
    background-color: #fff;
    min-width: 326px;
    max-height: 114px;
    box-shadow: 0 0 0 12px rgba(225, 225, 225, 0.43);
}

.rating__title {
    display: inline-block;
    padding: 24px 15px 24px 38px;
}

.rate__text-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.7;
}

.rate__text-2 {
    margin-bottom: -8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
}

.rate__stars {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    min-width: 185px;
    min-height: 36px;
    padding-right: 35px;

}

.rating__item {
    font-size: 36px;
    color: #e2f0ec;
    margin-right: 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.rating__item:hover,
.rating__item:hover~.rating__item {
    color: #939191;
}

.rate__stars[data-total-value="1"] .rating__item:nth-child(n+5),
.rate__stars[data-total-value="2"] .rating__item:nth-child(n+4),
.rate__stars[data-total-value="3"] .rating__item:nth-child(n+3),
.rate__stars[data-total-value="4"] .rating__item:nth-child(n+2),
.rate__stars[data-total-value="5"] .rating__item:nth-child(n+1) {
    color: yellow;
}

/* .star {
    display: inline-block;
    margin-right: 2px;
    width: 36px;
    height: 33px;
    background-color: transparent;
    background-image: url('../images/pages1/Star.svg');
    background-size: cover;
    cursor: pointer;
} */

/* ********************header************************** */
/* ********************service************************** */

.service {
    max-height: 1052px;
    background-color: #f2f2f2;
    position: relative;


}

.service__inner {
    /* display: block; */

}

.service__heading {
    /* text-align: center; */
    padding-top: 132px;
    margin: auto auto 64px;
    max-width: 858px;
}

.service__buttons {
    max-width: 1288px;
    max-height: 472px;
    display: grid;
    grid-template-columns: 316px 316px 316px 316px;
    grid-template-rows: 232px 232px;
    gap: 8px;


}


.click__btn {
    display: block;
    /* margin: auto; */
    width: 316px;
    height: 232px;
    padding-top: 73px;
    background-color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-align: center;
    transition: all .3s;
}

.click__btn:hover {
    color: #fff;
    background-color: #ff6433;
}

.click__btn:hover svg path {
    fill: #fdfbfb;
    transition: 0.4s;
}

.service__about {
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 124px;
    margin-left: 1055px;
    /* position: absolute;
    top:900px;
    left:1365px ; */
    transition: all .4s;


}

.about__arrow-button {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
}


.service__about:hover {
    transform: scale(1.2);
}

/* **************************service******************** */
/* **************************follow******************** */



.follow__inner {
    max-height: 1511px;
}



.follow__button {
    margin-left: 15px;
}

.follow__content {
    display: flex;
    justify-content: space-between;
    max-width: 1087px;
    margin-bottom: 92px;
}

.follow__process {
    margin-right: 367px;
}

.follow__process-title {
    /* text-align: start; */
    width: 524px;
    margin-bottom: 16px;
}

.follow__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    opacity: 0.6;
    width: 437px;
    margin-bottom: 32px;
}


.follow__step {
    display: inline-block;
    position: relative;
    min-width: 365px;
}

.follow__step::before {
    content: " ";
    display: inline-block;
    width: 84px;
    height: 469px;
    background-image: url("../images/pages3/Process\ Section.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -16px;
    left: -116px;
}

.follow__step-1 {
    height: 178px;
    /* margin-bottom: 32px; */
}

.follow__step-2 {
    height: 178px;
    padding-top: 14px;
    margin-bottom: 32px;

}

.follow__step-3 {
    height: 178px;
    /* margin-bottom: 0 ; */

}

.step__text {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
}

.step__text-about {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    opacity: 0.6;
    /* width: 336px; */
}

.follow__body {
    display: flex;
    position: relative;
    min-height: 502px;
    margin-bottom: 48px;
}

.follow__body:before {
    content: " ";
    display: inline-block;
    width: 976px;
    height: 502px;
    background-image: url("../images/pages3/car.jpg");
    background-repeat: no-repeat;
    position: absolute;
    left: -318px;
}

.follow__body:after {
    content: " ";
    display: inline-block;
    width: 873px;
    height: 502px;
    background-image: url("../images/pages3/clemm.jpg");
    background-repeat: no-repeat;
    position: absolute;
    right: -302px;
}

.follow__body-contact {
    position: relative;
    display: block;
    color: #fff;
    background-color: #ff6433;
    text-align: start;
    min-width: 729px;
    padding-left: 80px;
}

.follow__contact-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: -0.03em;
    padding-top: 128px;
    /* margin-left: 80px; */
    margin-bottom: 48px;
    width: 569px;
    /* text-align: left; */
}

.follow__contact-btn {
    position: absolute;
    top: 310px;
    left: 61px;
    background-color: #1e1b1b;

    /* margin-bottom: 128px;
    margin-left: -19px; */
}

.follow__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    max-width: 1920px;
}

.follow__indicators-item {
    font-weight: 800;
    font-size: 58px;
    line-height: 131%;
    letter-spacing: -0.03em;
    color: #661ce7;
}

.follow__indicators-item {}

.follow__title-item {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    opacity: 0.7;

}


/* *********************follow************************ */
/* *********************brand************************ */
.brand {
    background-color: #E2E6E9;
}

/* .brand__inner{
    min-height: 611px;
} */
.brand__head {
    margin-bottom: 31px;
}

.heading__title {
    /* text-align: center; */
}

.brand__content {
    padding-bottom: 82px;
}

.brand__content-link {
    display: flex;
    justify-content: space-between;
}

.brand__link-item svg path {
    fill: #939191;
    transition: all .4s;
}

.brand__link-item:hover svg path {
    fill: #1e1b1b;
}

/* *********************brand************************ */
/* *********************blog************************ */
.blog__heading {
    margin-bottom: 47px;
}

.blog__filter-item {
    display: flex;
    margin-bottom: 46px;

}

.blog__filter-btn {
    background-color: #fff;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    margin-right: 30px;
}

.blog__filter-btn:last-child {
    margin-right: 0;

}

.blog__group-1 {
    display: grid;
    grid-template: repeat(1, 606px) / repeat(3, 405px);
    gap: 35px;
    margin-bottom: 64px;
}

.blog__group-2 {
    display: grid;
    grid-template: repeat(1, 606px) / repeat(3, 405px);
    gap: 35px;
}

.blog__image-box {
    margin-bottom: 24px;

}

.blog__image-box img {
    width: 100%;
    height: 100%;
}



.blog__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    color: #939191;
    margin-bottom: 16px;
}

.blog__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    margin-bottom: 16px;

}

.blog__content-about {
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
}

/* *****************************blog************************************* */
/* ***************************customers************************************* */

.customers {
    background-color: #f2f2f2;
    height: 938px;
}

.customers__inner {
    position: relative;
    /* display: block; */
}

.customers__head {
    max-width: 909px;
    padding-top: 128px;
    margin: auto auto 76px;

}

.customers__slider {

    display: flex;
    justify-content: space-between;
}

.customers__slider .slick-list {
    margin: 0 -24px;
}

.customers__slide {
    border: 1px solid rgba(172, 172, 172, 0.29);
    border-radius: 6px;
    width: 616px;
    height: 376px;
    background: #fff;
    margin: 0 24px;
}

.customers__slide:last-child {
    margin-bottom: 0;

}

.customers__slide-inside {
    margin: 72px;
    width: 472px;
    height: 232px;
}

.customers__facebook {
    display: flex;
    margin-bottom: 24px;
}

.customers__facebook img {
    margin-right: 16px;
    border-radius: 151px;
    width: 64px;
    height: 64px;
}

.customers__info {}

.customers__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
}

.customers__city {
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
}

.customers__comment {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
}

.slider__arrows {
    position: absolute;
    bottom: -70px;
    right: 10px;
    display: flex;
}

.custom__slider-arrow path {
    transition: all .4s;
}

.custom__slider-arrow:hover path {
    fill: #fff;
}

.custom__slider-arrow {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .4s;
}

.custom__slider-arrow:hover {
    background-color: #1e1b1b;
    transform: scale(1.3);
}

.custom__slider-arrow svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom__slider-prev {
    margin-right: 24px;
}


.slider__dots .slick-dots {
    display: flex;
    justify-content: center;
}

.slider__dots li {
    
    margin-right: 12px;
    width: 32px;
    height: 4px; 
    background-color: #939191;
}
.slider__dots li:last-child {
    margin-right: 0;
}
.slider__dots li.slick-active button#slick-slide-control00::before{
   background-color: #ff6433;
   width: 32px;
   height: 4px;
}
.slider__dots button#slick-slide-control00::before {
    content: "";  
}
.slider__dots li.slick-active button#slick-slide-control01::before{
   background-color: #ff6433;
   width: 32px;
   height: 4px;
}
.slider__dots button#slick-slide-control01::before {
    content: "";  
}
.slider__dots li.slick-active button#slick-slide-control02::before{
   background-color: #ff6433;
   width: 32px;
   height: 4px;
}
.slider__dots button#slick-slide-control02::before {
    content: "";  
}
.slider__dots li.slick-active button#slick-slide-control03::before{
   background-color: #ff6433;
   width: 32px;
   height: 4px;
}
.slider__dots button#slick-slide-control03::before {
    content: "";  
}

/* ****************************slider*************************************************/
/* ****************************asked*************************************************/

.main__asked{
    background-color: #e2e6e9;
}

.conteiner {
}
.asked__inner {
}

.asked__title{
    padding-top: 128px;
    margin-bottom: 86px;
}

.asked__body {
    margin: 0 192px;
}
.asked__body-item {
    max-width: 896px;
    margin-bottom: 30px;
    background-color: #fff;
}
.asked__body-item:last-child{
    margin-bottom: 0px;

}
.asked__cont{
    padding: 40px;
}
.asked__body-link {
}
.asked__body-link--active {
}
.asked__link-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1e1b1b;
    font-weight: 600;
font-size: 24px;
line-height: 150%;
letter-spacing: -0.03em;
margin-bottom: 16px;
}
.asked__hover {
    display: block;
    background-color: #ff6433;
    width: 50px;
    height: 50px;
    
    /* background: url(../images/pages7/Minus.svg)no-repeat; */
}


.asked__plus {
    display:block ;
    margin:24px auto;
    width: 17px;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
    transform: rotate(0deg);
}

.asked__minus{
    display:block ;
    margin:24px auto;
    width: 17px;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
    transform: rotate(90deg);
    transition: all .5s;
}
.asked__minus:hover{
transform: rotate(360deg);
}


.asked__question {
    width: 702px;
    color: #939191;
    font-weight: 600;
font-size: 18px;
line-height: 175%;
}